<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <big-breadcrumbs items="[getWord('Home'), getWord('Change Password')]"
                         class="col-xs-12 col-sm-12"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="normal-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-lock"></i> </span>
                        <h2>{{getWord('Change Password')}}</h2>
                    </header>
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="well no-padding">

                                <form id="smart-form-register" class="smart-form client-form">
                                    <fieldset>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="username" disabled placeholder="{{getWord('UserName')}}" data-ng-model="registration.userName" required>
                                                <b class="tooltip tooltip-bottom-right">{{getWord('UserNameTip')}}</b>
                                            </label>
                                        </section>

                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="password" placeholder="{{getWord('Current Password')}}" id="password" data-ng-model="registration.password" required autofocus>
                                                <b class="tooltip tooltip-bottom-right">{{getWord('CurrentPasswordTip')}}</b>
                                            </label>
                                        </section>

                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="password" placeholder="{{getWord('New Password')}}" id="password" data-ng-model="registration.newPassword" required>
                                                <b class="tooltip tooltip-bottom-right">{{getWord('NewPasswordTip')}}</b>
                                            </label>
                                        </section>

                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="passwordConfirm" placeholder="{{getWord('Confirm New Password')}}" data-ng-model="registration.confirmNewPassword" required>
                                                <b class="tooltip tooltip-bottom-right">{{getWord('ConfirmNewPasswordTip')}}</b>
                                            </label>
                                        </section>
                                    </fieldset>

                                    <footer>
                                        <button type="submit" class="btn btn-primary" data-ng-click="save()">
                                            {{getWord('Submit')}}
                                        </button>
                                    </footer>

                                    <div data-ng-hide="message==''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                        <i class="fa fa-check"></i>
                                        <p>
                                            {{message}}
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
