<div id="shortcut">
	<ul>
		<li>
			<a href="#/tasks/list" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-folder-open fa-4x"></i> <span>{{getWord('MyTasks')}} <span class="label pull-right bg-color-darken">{{getTaskCount()}}</span></span> </span> </a>
		</li>
		<li>
			<a href="#/user/profile" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>{{getWord('My Profile')}} </span> </span> </a>
		</li>
        <li>
            <a href="#/user/password" class="jarvismetro-tile big-cubes selected bg-color-darken"> <span class="iconbox"> <i class="fa fa-lock fa-4x"></i> <span>{{getWord('Change Password')}} </span> </span> </a>
        </li>
	</ul>
</div>