<!-- MAIN CONTENT -->
<div jarvis-widget id="scheduler" data-widget-togglebutton="false" data-widget-editbutton="false"
     data-widget-fullscreenbutton="true" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <header>
        <span class="widget-icon"> <i class="glyphicon glyphicon-calendar txt-color-darken"></i> </span>
        <h2>{{getWord("Scheduler")}}（{{CurrentStationName}}）</h2>
    </header>
    <div>
        <div class="widget-body">
            <div dx-scheduler="schedulerOptions"></div>
        </div>
     </div>
</div>
<!-- END MAIN CONTENT -->
