<div class="padding-10">
    <div id="sampleTreeModalCtrl" class="jarviswidget" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
        <header>
            <h2> {{getWord('sampleCategory')}} </h2>
            <div class="widget-toolbar">
                <span class="jarviswidget-ctrls" ng-click="$dismiss()"> <i class="fa fa-close"></i> </span>
            </div>
        </header>

        <!-- widget div-->
        <div>
            <div class="widget-body">
                <div class="tree smart-form">
                    <ul data-smart-treeview data-items="sampleTree" role="tree"></ul>
                </div>
            </div>
        </div>
        <div class="padding-10">
            <footer>
                <div class="padding-10">
                    <div align="right">
                        <button type="button" class="btn btn-primary" button-spinner="loading" ng-disabled="loading" ng-click="ok()">
                            {{getWord('OK')}}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancel()">
                            {{getWord('Cancel')}}
                        </button>
                    </div>
                </div>
            </footer>
          </div>
            <!-- end widget div -->
        </div>
</div>
