<ul class="notification-body">
	<li ng-repeat="msg in currentActivityItems">
		<span ng-class="{unread : msg.status == 'unread'}">
			<a href="javascript:void(0);" ng-click="readMsg(msg)" class="msg">
				<img ng-src="{{getPosterImage(msg.posterId)}}" alt="" class="air air-top-left margin-top-5" width="40" height="40"/>
				<span class="from">{{msg.poster}}</span>
				<time>{{msg.postTime}}</time>
				<span class="subject">{{msg.subject}}</span>
				<span class="msg-body">{{msg.content}}</span>
			</a>
		</span>
	</li>
</ul>