<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" data-sparkline-container>
    <ul id="sparks" class="">
        <li class="sparks-info">
            <h5> {{getWord('TaskCount')}} <span class="txt-color-blue">1,271</span></h5>
            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                130, 187, 250, 257, 200, 210, 300, 270, 363, 247, 270, 363, 247
            </div>
        </li>
        <li class="sparks-info">
            <h5> {{getWord("Efficiency")}} <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;25%</span></h5>
            <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                110,150,300,130,400,240,220,310,220,300, 270, 210
            </div>
        </li>
        <li class="sparks-info">
            <h5> {{getWord("CompletedTasks")}} <span class="txt-color-greenDark"><i class="fa fa-check-circle"></i>&nbsp;879</span></h5>
            <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                110,150,300,130,400,240,220,310,220,300, 270, 210
            </div>
        </li>
    </ul>
</div>
			