

<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>{{getWord("Attachments")}}</h2>
                        <div class="widget-toolbar">
                            <span class="jarviswidget-ctrls" ng-click="$dismiss()"> <i class="fa fa-close"></i> </span>
                        </div>
                    </header>
                    <div>
                        <!-- widget content -->
                        <div>
                            <div class="widget-body">
                                <attachments></attachments>
                            </div>
                        </div>
                    </div>
               </div>
            </article>
        </div>
    </section>
</div>