<form name="newFilesForm" role="form" enctype="multipart/form-data" ng-disabled="appStatus.busy || fileManagerStatus.uploading">
    <div class="form-group" ng-hide="hasFiles">
        <label for="newFiles">Select and upload new files</label>
        <input type="file" id="newFiles" class="uploadFile" eg-files="files" has-files="hasFiles" multiple>
    </div>
    <div class="form-group" ng-show="hasFiles && !fileManagerStatus.uploading">
        <ul class="list-inline">
            <li><strong>files:</strong></li>
            <li ng-repeat="file in files"> {{file.name}}</li>
        </ul>
        <input class="btn btn-primary" type="button" eg-upload="upload(files)" value="upload">
        <input class="btn btn-warning" type="reset" value="cancel" />
    </div>
    <div class="form-group" ng-show="fileManagerStatus.uploading">
        <p class="help-block">uploading</p>
    </div>
</form>