<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="live-feeds-widget" data-widget-togglebutton="false" data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon" ng-click="$dismiss()"> <i class="fa fa-close"></i> </span>
                        <h2>
                            {{getWord("File Manager")}}
                        </h2>
                    </header>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="jarviswidget" id="StationsLayoutCtrl" data-widget-deletebutton="true">
                                <header>
                                    <h2>{{getWord("Directory")}}</h2>
                                </header>
                                <div id="directoryTree" class="widget-body">
                                    <!-- content goes here -->
                                    <div style="height:100%" data-angular-treeview="true"
                                         data-tree-id="directory"
                                         data-tree-model="directoryTree"
                                         data-node-id="name"
                                         data-node-label="title"
                                         data-node-children="children">
                                    </div>
                                    <!-- end content -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <ebaas-file-manager dbschema="dbschema" dbclass="dbclass" oid="oid"></ebaas-file-manager>
                        </div>
                    </div>
               </div>
            </article>
            <div class="padding-10">
                <button class="btn btn-primary pull-right" ng-click="$dismiss()">{{getWord("Cancel")}}</button>
            </div>
            </div>
    </section>
</div>
