
<div ng-cloak>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info active">
                    <div class="row">
                        <div class="col-sm-2">{{vm.getWord("Log User")}}</div>
                        <div class="col-sm-4">{{vm.getWord("Log Time")}}</div>
                        <div class="col-sm-2">{{vm.getWord("Log Type")}}</div>
                        <div class="col-sm-4">{{vm.getWord("Log Content")}}</div>
                    </div>
                </li>
                <li class="list-group-item" ng-show="vm.logs.length === 0">{{vm.getWord("No Logs")}}</li>
                <li ng-repeat="log in vm.logs" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">{{log.user}}</div>
                        <div class="col-sm-4">{{log.time}}</div>
                        <div class="col-sm-2">{{log.type}}</div>
                        <div class="col-sm-4  wraptext">{{log.content}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>